
.thumbnail{
  width: 100%;
  display: block;
}

.video-title{
  margin-top:0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  
}
.video-stats{
  margin-top: 0;
  color:#606060;
  font-size: 15px;
  font-family: Roboto;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture{
  display: grid;
  grid-template-columns: 50px 1fr;
  
}

.video-info{
  display: block;
  
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
  
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}
.video-author,
.video-stats{
  font-size: 12px;
  margin-bottom: 5px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.video-time{
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius:2px ;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;

}